* {
    background-color: black
}

p {
    font-size: 200%;
    justify-content: center;
    display: flex;
    color: white
}

.topnav {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    color: white

}
ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2em 0em;
    
}
.li {
    display: flex;
    padding: 6px;
    list-style-type: none;
}
img {
    height: 100%;
    width: 100%;
    padding: 5px;
  }
